.my-book-wrapper {
  width: 100%;
  width: 100%;
  margin-top:10vh;
  padding: 5%;
  box-sizing: border-box;
}
.add-new-book-button {
  width: 100%;
  margin-bottom: 5%;
  /* height: 5vh; */
  box-sizing: border-box;
}
.add-new-book-button button{
  border: none;
  padding: 1rem 2rem;
  background: rgba(202, 22, 238, 0.288);
  border-radius: 5px;
  border: 1px solid rgba(202, 22, 238, 0.288);
  color: white;
  outline: none;
  font-size: 1.2rem;
}
.my-book .book-form {
  /* position: ; */
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 100px;
}
.my-book .book-form h2 {
  font-size: 28px;
  text-align: left;
  margin: 0;
  color: rgba(65, 60, 60, 0.877);
}
.my-book .book-form form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
}
.my-book .book-form form .input-new-book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  width: 70%;
}
.my-book .book-form form .input-new-book input {
  width: 100%;
  padding: 7px;
  margin: 5px;
  border: none;
  outline: none;
  font-family: DM Sans;
  font-size: 15px;
}
.my-book.book-form form .input-new-book input:focus {
  color: red;
  outline: none;
  border-bottom: 2px solid red;
}
.my-book .book-form form .input-new-book ::placeholder {
  font-family: DM Sans;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.767);
}
.my-book .book-form form .input-new-book h5 {
  margin: 0;
  font-size: 15px;
  margin-right: auto;
  margin-bottom: 5px;
}

.my-book .book-form form .input-new-book .select-genre {
  margin: 0;
  margin-right: auto;
  outline: none;
  color: rgba(128, 128, 128, 0.767);
  width: 100%;
}
.my-book .book-form form .input-new-book .select-genre select {
  outline: none;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.767);
  width: 100%;
  border: none;
  padding: 10px;
}
.my-book .book-form form .submit-book-div {
  width: 100%;
  margin-top: 10px;
}
.my-book .book-form form .submit-book {
  width: 100%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background: rgb(243, 159, 173);
  font-family: DM Sans;
  font-weight: bolder;
  outline: none;
  color: white;
  font-size: 15px;
}
.my-book .book-form form .submit-book button {
  outline: none;
  color: white;
  background: rgb(243, 159, 173);
  width: 100%;
}
.my-book .book-form form .clear-book-div {
  width: 100%;
}
.my-book .book-form form .clear-book {
  width: 100%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background: red;
  font-family: DM Sans;
  font-weight: bolder;
  outline: none;
  color: white;
  font-size: 15px;
}





.trans {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: inherit;
  padding: 0;
}
.book-card {
  flex: 0 0 30%;
  height: 15vh;
  display: grid;
  grid-template-columns: 68% 28%;
  grid-gap: 4%;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 1rem;
  border: 1px solid rgba(202, 22, 238, 0.288);
}
.book-title-and-author {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
}
.book-card .img {
  width: 100%;
}
.book-card h3 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.book-card p {
  padding: 0;
  margin: 0;
}