.my-book-wrapper {
  width: 100%;
  width: 100%;
  margin-top: 10vh;
  padding: 5%;
  box-sizing: border-box;
}
.add-new-book-button {
  width: 100%;
  margin-bottom: 5%;
  box-sizing: border-box;
}
.add-new-book-button button {
  border: none;
  padding: 1rem 2rem;
  background: rgba(202, 22, 238, 0.288);
  border-radius: 5px;
  border: 2px solid rgb(202, 22, 238);
  color: white;
  outline: none;
  font-size: 1.2rem;
}
.modal {
  background-color: #fff;
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal form {
  background: rgba(202, 22, 238, 0.288);
  border: 1px solid rgba(202, 22, 238, 0.288);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 80%;
  padding: 1rem;
  box-sizing: border-box;
}
.modal form header {
  height: 10%;
  box-sizing: border-box;
}
.modal form h2 {
  font-size: 1.5rem;
  font-family: "DM Sans";
  padding: 0;
  margin: 0;
}
.modal form .input-new-book {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  width: 100%;
}
.modal form input[type="text"] {
  background: white;
  border: 2px solid rgb(202, 22, 238);
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1.125rem;
  outline: none;
  line-height: 1.25rem;
  letter-spacing: -0.028125rem;
  font-family: "DM Sans";
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0px;
}
.modal form input ::placeholder,
::-webkit-input-placeholder {
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: -0.028125rem;
  font-family: "DM Sans";
  mix-blend-mode: normal;
  opacity: 0.8;
}

.modal form textarea {
  background: white;
  resize: none;
  width: 100%;
  outline: none;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: -0.028125rem;
  border-radius: 0;
  -webkit-border-radius: 0px;
  font-family: "DM Sans";
  outline: none;
  border: 2px solid rgb(202, 22, 238);
}

.modal form textarea ::placeholder,
::-webkit-input-placeholder {
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: -0.028125rem;
  font-family: "DM Sans";
  mix-blend-mode: normal;
  opacity: 0.8;
}

.modal form select {
  background: white;
  border: 2px solid rgb(202, 22, 238);
  box-sizing: border-box;
  padding: 0.5rem;
  outline: none;
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: -0.028125rem;
  font-family: "DM Sans";
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0px;
}
.submit-or-clear {
  height: 20%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.submit-or-clear input.form-btn {
  background: white;
  border: 2px solid rgb(202, 22, 238);
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1.125rem;
  outline: none;
  line-height: 1.25rem;
  letter-spacing: -0.028125rem;
  font-family: "DM Sans";
  border-radius: 0;
  -webkit-border-radius: 0px;
}
.book-title-and-author {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
}
.book-card .img {
  width: 100%;
}
.book-card h3 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.book-card p {
  padding: 0;
  margin: 0;
}
