.about {
    text-align: center;
    font-family: DM Sans;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-wrapper{
    width: 80%;
}
.version{
    padding: 10px;
    border-radius: 2px;
}