.home {
  font-family: DM Sans;
  text-align: center;
  margin-top: 10%;
  width: 100%;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.home h1 {
  margin-bottom: 3%;
  font-size: 45px;
  color: rgba(65, 60, 60, 0.877);
}
.home-wrapper {
  border-top: none;
  border-bottom: none;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.home-wrapper .book-form {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 10px;
}
.home-wrapper .book-form h2 {
  font-size: 28px;
  text-align: left;
  margin: 0;
  color: rgba(65, 60, 60, 0.877);
}
.home-wrapper .book-form form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
}
.home-wrapper .book-form form .input-new-book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  width: 70%;
}
.home-wrapper .book-form form .input-new-book input {
  width: 100%;
  padding: 7px;
  margin: 5px;
  border: none;
  outline: none;
  font-family: DM Sans;
  font-size: 15px;
}
.home-wrapper .book-form form .input-new-book input:focus {
  color: red;
  outline: none;
  border-bottom: 2px solid red;
}
.home-wrapper .book-form form .input-new-book ::placeholder {
  font-family: DM Sans;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.767);
}
.home-wrapper .book-form form .input-new-book h5 {
  margin: 0;
  font-size: 15px;
  margin-right: auto;
  margin-bottom: 5px;
}

.home-wrapper .book-form form .input-new-book .select-genre {
  margin: 0;
  margin-right: auto;
  outline: none;
  color: rgba(128, 128, 128, 0.767);
  width: 100%;
}
.home-wrapper .book-form form .input-new-book .select-genre select {
  outline: none;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.767);
  width: 100%;
  border: none;
  padding: 10px;
}

.home-wrapper .book-form form .submit-book {
  width: 100%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background: rgb(243, 159, 173);
  font-family: DM Sans;
  font-weight: bolder;
  outline: none;
}
.home-wrapper .book-form form .submit-book button {
  outline: none;
  color: white;
  background: rgb(243, 159, 173);
  width: 50%;
}
.home-wrapper .book-form form .clear-book {
  width: 100%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background: red;
  font-family: DM Sans;
  font-weight: bolder;
  outline: none;
}
