.home {
  font-family: DM Sans;
  text-align: center;
  width: 100%;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
}
.home h1 {
  margin-bottom: 3%;
  font-size: 2.7rem;
  color: rgba(65, 60, 60, 0.877);
}
.home-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  border: 1px solid black;
}
.home-wrapper .filter-region {
  position: relative;
  display: flex;
  align-items: center;
}
.home-wrapper .filter-region i {
  position: absolute;
  right: 0;
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 22, 238, 0.288);
  color: rgb(59, 56, 56);
  border-radius: 0 5px 5px 0;
}
.home-wrapper .filter-form {
  width: 50vw;
  min-width: 50vw;
  padding: 0;
  box-sizing: border-box;
}
.home-wrapper .filter-form input {
  padding: 10px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: DM Sans;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
}
.home-wrapper .filter-form ::placeholder {
  font-family: DM Sans;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.767);
}
.home-wrapper .filter-form input:focus {
  color: rgb(202, 22, 238);
  outline: none;
  border-bottom: 2px solid rgb(202, 22, 238);
}
.book-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  width: 100%;
}
.books-region {
  border: 1px solid black;
  width: 100%;
  min-width: 100%;
}
