.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(168, 29, 168, 0.377);
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 0 5%;
  box-sizing: border-box;
  color: white;
  min-height: 10vh;
  height: 10vh;
  font-family: DM Sans;
}
.navbar i {
  color: white;
  margin-right: 5px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar li {
  margin-left: 20px;
  font-size: 20px;
}
.active {
  color: gray;
  font-weight: bolder;
}
