.book-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.trans {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: inherit;
  padding: 0;
}
.book-card {
  flex: 0 0 30%;
  height: 15vh;
  display: grid;
  grid-template-columns: 68% 28%;
  grid-gap: 4%;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 1rem;
  border: 1px solid rgba(202, 22, 238, 0.288);
}
.book-title-and-author {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
}
.book-card .img {
  width: 100%;
}
.book-card h3 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.book-card p {
  padding: 0;
  margin: 0;
}
.book-card .type {
  color: black;
  padding: 2px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-transform: capitalize;
  float: right;
  width: 20%;
  background: rgba(194, 192, 192, 0.288);
  border: 1px solid rgba(202, 22, 238, 0.288);
}
.book-card .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 80%;
  font-size: 13px;
}
.book-card .author {
  font-size: 15px;
  text-transform: capitalize;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-card .buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}
.book-card .buttons .btn {
  padding: 5px 10px;
  border: none;
  color: white;
  font-family: DM Sans;
  border-radius: 2px;
}
.book-card .buttons .edit-btn {
  background: rgb(85, 79, 79);
  outline: none;
}
.book-card .buttons .delete-btn {
  background: rgba(212, 34, 34, 0.788);
  outline: none;
}
.book-card .buttons .add-to-cart {
  width: 100%;
  padding: 0.5rem;
  background: rgba(202, 22, 238, 0.288);
  border-radius: 5px;
  border: 1px solid rgba(202, 22, 238, 0.288);
  color: white;
  font-weight: bolder;
  font-size: 0.6rem;
}
